<div class="author">
    <h1 class="author__header">Aashish Rauniyar</h1>
    <p class="author_body">Webdev and Coder</p>
</div>

<img src="/images/home-image.jpeg" alt="home-image" class="hero-image" width="981" height="528">

<section class="articles">

    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list_date"><%= post.createdAt.toLocaleString()%></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        
        <a href="/?page=<% nextPage%>" class="pagination">&lt; View Older Works</a>
    <% } %>
    <!-- for pagination -->
</section>